table{
    background-color:slateblue;
}
td{    
    border-collapse: collapse;
    background-color: cornflowerblue;
    text-align: center;
    height: 50px;
    width: 50px;
    color: aliceblue;
}